* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0;

    font-family: 'Raleway', sans-serif;
}

/* INDEX Y NAV */

.container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.logo-image { 
    width: 100px;
    height: 100px;
}


li {
    border-right: 1px solid white;
}

li:hover {
    color: red;
}

.hero-section {
    background-image: url(../img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover; 
    color: #ffffff;
    text-shadow: 2px 3px 2px #707070;
    text-align: center;
    padding: 300px 50px 300px 50px;
    height: 50%;
    font-size: 52px;
    grid-area: hero-section;
}


.article-img {
    width: 18rem;
    height: 18rem;

}

.division {
    background-image: url(../img/division-img.jpeg);
    background-repeat: no-repeat;
    background-size:cover; 
    color: #ffffff;
    text-shadow: 2px 3px 2px #707070;
    text-align: center;
    padding: 150px 20px 150px 20px;
    font-size: 30px;

}


/* ZONAS PAGE */

.header-zonas {
    background-image: url(../img/header-zonas.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    color: black;
    text-shadow: 2px 3px 2px #707070;
    text-align: center;
    padding: 150px 20px 150px 20px;
    font-size: 30px;

}

.carousel {
    width: 50%;
    height: 15%;
}

.zona-text {
    margin-top: 2rem;
    width: 50%;
}


